Repository methodpark/digitaleswarten, pull requests merged in 2020-03, with the labels that each got.

#27 Add id generators for queues and places
  backend/utils/id_generator.py
Labels: backend

#32 Fix incorrect API path
  backend/digitales_warten.py
Labels: backend, bug

#40 Add removal of queues API
  backend/digitales_warten.py
Labels: backend

#36 Add multiple primary keys
  backend/models/queue.py
Labels: backend, bug

#43 Implement creation of new places
  backend/digitales_warten.py
  backend/models/place.py
  backend/run_docker_tests.sh
  backend/tests/test_integration.py
  docs/api.md
Labels: api, backend

#54 Implement deletion of entries in specific queues and places
  backend/digitales_warten.py
Labels: backend

#55 Welcome patient view
  backend/digitales_warten.py
  docs/api.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/img/arztpraxis.jpg
  frontend/src/img/wirvsvirus.png
  frontend/src/index.tsx
  frontend/src/patient/PatientWelcome.tsx
Labels: frontend

#68 Move headline back to where it belongs and fix css
  frontend/src/App.css
  frontend/src/App.tsx
Labels: frontend

#66 Use actions in components
  frontend/src/admin/PersonManagement.tsx
  frontend/src/admin/QueueManagement.tsx
  frontend/src/admin/Queues.tsx
  frontend/src/state/backend.ts
Labels: frontend

#84 Increase test reliablity by making it independent
  backend/tests/test_integration.py
Labels: backend, bug
